@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid-serverData {
  display: flex;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the gap size between grid items */
  border: 1px solid white;
  width: 40%;
  align-content: center;
  justify-content: center;
}
.header {
  width: 200px;
}
.header-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
